#include "LanScan.h"
#include <os2.h>

#ifdef LANSCAN
ICON ICON_ID "LanScan.Ico"

BITMAP BMP_RUN      "BMP/Run.bmp"
BITMAP BMP_RUN_DI   "BMP/Run_Di.bmp"
BITMAP BMP_RUN_HI   "BMP/Run_Hl.bmp"
BITMAP BMP_BREAK    "BMP/Break.bmp"
BITMAP BMP_BREAK_DI "BMP/Break_Di.bmp"
BITMAP BMP_BREAK_HI "BMP/Break_Hl.bmp"
BITMAP BMP_ARP      "BMP/SetARP.bmp"
BITMAP BMP_ARP_DI   "BMP/SetARP_Di.bmp"
BITMAP BMP_ARP_HI   "BMP/SetARP_Hl.bmp"
BITMAP BMP_PING     "BMP/SetPing.bmp"
BITMAP BMP_PING_DI  "BMP/SetPing_Di.bmp"
BITMAP BMP_PING_HI  "BMP/SetPing_Hl.bmp"
BITMAP BMP_OPT      "BMP/SetOpt.bmp"
BITMAP BMP_OPT_DI   "BMP/SetOpt_Di.bmp"
BITMAP BMP_OPT_HI   "BMP/SetOpt_Hl.bmp"
BITMAP BMP_HELP     "BMP/Help.bmp"
BITMAP BMP_HELP_HI  "BMP/Help_Hl.bmp"
BITMAP BMP_EXIT     "BMP/Exit.bmp"
BITMAP BMP_EXIT_HI  "BMP/Exit_Hl.bmp"

MENU MAIN_ID
BEGIN
   SUBMENU "~File", SUBMENU_FILE
   BEGIN
      MENUITEM "~Run", ITEM_RUN, 0, MIA_DISABLED
      MENUITEM "~Break", ITEM_BREAK
      MENUITEM SEPARATOR
      MENUITEM "~Save", ITEM_SAVE, 0, MIA_DISABLED
      MENUITEM "save ~As", ITEM_SAVEAS, 0, MIA_DISABLED
      MENUITEM SEPARATOR
      MENUITEM "~Exit", ITEM_EXIT
   END

   SUBMENU "~Options", SUBMENU_OPTIONS
   BEGIN
      MENUITEM "~ARP", ITEM_ARP, 0, MIA_DISABLED
      MENUITEM "~Ping", ITEM_PING, 0, MIA_DISABLED
      MENUITEM SEPARATOR
      MENUITEM "~Configuration", ITEM_SET_OPT, 0, MIA_DISABLED
   END

   SUBMENU "~Help", SUBMENU_HELP, MIS_BUTTONSEPARATOR
   BEGIN
      MENUITEM "~Information", ITEM_GENERAL_HELP
      MENUITEM "~About", ITEM_ABOUT
   END

END

ACCELTABLE MAIN_ID PRELOAD
BEGIN
  "a", PB_ARP,      AF_ALT
  "A", PB_ARP,      AF_ALT
  "b", PB_BREAK,    AF_ALT
  "B", PB_BREAK,    AF_ALT
  "c", PB_OPT,      AF_ALT
  "C", PB_OPT,      AF_ALT
  "e", PB_EXIT,     AF_ALT
  "E", PB_EXIT,     AF_ALT
  "i", PB_HELP,     AF_ALT
  "I", PB_HELP,     AF_ALT
  "p", PB_PING,     AF_ALT
  "P", PB_PING,     AF_ALT
  "r", PB_RUN,      AF_ALT
  "R", PB_RUN,      AF_ALT
END

DLGTEMPLATE ABOUT_ID
BEGIN
  DIALOG "", ABOUT_ID, 15, 55, 190, 70, WS_VISIBLE
    BEGIN
      CTEXT TitleBar, TEXT_L1_ID, 0, 50, 190, 14, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "14.Helv"
      CTEXT "Программа сканирования сети TCP/IP", TEXT_L2_ID, 0, 35, 190, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
      LTEXT "Олег Жуков, 2001-2004", TEXT_L3_ID, 55, 20, 120, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helvetica"
      LTEXT "zhk@ibs-ltd.kiev.ua", TEXT_L4_ID,   55,  5,  80, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
      PUSHBUTTON "~OK", DID_OK, 5, 10, 40, 15, BS_DEFAULT
    END
END
#endif

#ifdef CONFIG_LS
ICON ICON_ID "CfgLanS.ico"

DLGTEMPLATE DIALOGWIN PRELOAD MOVEABLE
BEGIN
  DIALOG "Config LanScan 1.1.0", DIALOGWIN, 170, 140, 210, 30,
           WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
    BEGIN
        LTEXT "IP address", 101,   5, 5, 50, 10, DT_VCENTER
        LTEXT "", TXT_IP,         55, 5, 75, 10, DT_VCENTER
        LTEXT "Port", 102,       145, 5, 20, 10, DT_VCENTER
        LTEXT "", TXT_PORT,      170, 5, 35, 10, DT_VCENTER
    END
END

MENU MENU_ID
BEGIN
  SUBMENU "~File", SUBMENU_FILE
    BEGIN
      MENUITEM "~Read CFG", ITEM_READ
      MENUITEM "~Write CFG", ITEM_WRITE
      MENUITEM "~Configuration", ITEM_OPTIONS
      MENUITEM SEPARATOR
      MENUITEM "~Exit", ITEM_EXIT
    END
END
DLGTEMPLATE DIALOGREADPW
BEGIN
  DIALOG "Enter password for reading CFG", DIALOGREADPW, 10, 10, 150, 40,
         WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
      ENTRYFIELD "", READ_PW, 5, 25, 130, 6, ES_MARGIN | ES_UNREADABLE
      PUSHBUTTON "~Ok", DID_OK,           5, 5, 40, 15, BS_DEFAULT
      PUSHBUTTON "~Cancel", DID_CANCEL, 100, 5, 40, 15
    END
END

DLGTEMPLATE DIALOGWRITEPW
BEGIN
  DIALOG "Enter password for writing CFG", DIALOGWRITEPW, 10, 10, 150, 40,
         WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
      ENTRYFIELD "", WRITE_PW, 5, 25, 130, 6, ES_MARGIN | ES_UNREADABLE
      PUSHBUTTON "~Ok", DID_OK,           5, 5, 40, 15, BS_DEFAULT
      PUSHBUTTON "~Cancel", DID_CANCEL, 100, 5, 40, 15
    END
END
#endif

#ifdef VIEW_LS
ICON ICON_ID "LanScan.Ico"

MENU MAIN_ID
BEGIN
  SUBMENU "~File", SUBMENU_FILE
    BEGIN
      MENUITEM "~Run", ITEM_RUN
      MENUITEM "~View", ITEM_VIEW, 0, MIA_DISABLED
      MENUITEM SEPARATOR
      MENUITEM "~Save", ITEM_SAVE, 0, MIA_DISABLED
      MENUITEM "Save ~As", ITEM_SAVEAS, 0, MIA_DISABLED
      MENUITEM SEPARATOR
      MENUITEM "~Exit", ITEM_EXIT
    END
  SUBMENU "~Help", SUBMENU_HELP, MIS_BUTTONSEPARATOR
    BEGIN
      MENUITEM "~Information", ITEM_GENERAL_HELP
      MENUITEM "~About", ITEM_ABOUT
    END
END

ACCELTABLE MAIN_ID PRELOAD
BEGIN
  "r", PB_RUN,   AF_ALT
  "R", PB_RUN,   AF_ALT
  "v", PB_BREAK, AF_ALT
  "V", PB_BREAK, AF_ALT
  "s", PB_SAVE,  AF_ALT
  "S", PB_SAVE,  AF_ALT
  "e", PB_EXIT,  AF_ALT
  "E", PB_EXIT,  AF_ALT
END

DLGTEMPLATE ABOUT_ID
BEGIN
  DIALOG "", ABOUT_ID, 15, 55, 190, 70, WS_VISIBLE
    BEGIN
      CTEXT TitleBar, TEXT_L1_ID, 0, 50, 190, 14, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "14.Helv"
      CTEXT "Программа сканирования сети TCP/IP", TEXT_L2_ID, 5, 35, 180, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
      LTEXT "Олег Жуков, 2001-2004", TEXT_L3_ID, 55, 20, 120, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helvetica"
      LTEXT "zhk@ibs-ltd.kiev.ua", TEXT_L4_ID, 55, 5, 80, 10, DT_VCENTER
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
      PUSHBUTTON "~OK", DID_OK, 5, 10, 40, 15, BS_DEFAULT
    END
END

DLGTEMPLATE DIALOGVIEWPW
BEGIN
  DIALOG "Enter VIEW password", DIALOGVIEWPW, 10, 10, 150, 40,
         WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
      ENTRYFIELD "", VIEW_PW, 5, 25, 130, 6, ES_MARGIN | ES_UNREADABLE
      PUSHBUTTON "~Ok", DID_OK,           5, 5, 40, 15, BS_DEFAULT
      PUSHBUTTON "~Cancel", DID_CANCEL, 100, 5, 40, 15
    END
END

DLGTEMPLATE DIALOGRUNPW
BEGIN
  DIALOG "Enter RUN password", DIALOGRUNPW, 10, 10, 150, 40,
         WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
      ENTRYFIELD "", RUN_PW, 5, 25, 130, 6, ES_MARGIN | ES_UNREADABLE
      PUSHBUTTON "~Ok", DID_OK,           5, 5, 40, 15, BS_DEFAULT
      PUSHBUTTON "~Cancel", DID_CANCEL, 100, 5, 40, 15
    END
END
#endif

/* Общие заголовки */

#ifndef VIEW_LS
DLGTEMPLATE PING_ID
BEGIN
    DIALOG  "Ping setting", PING_ID, 30, 30, 140, 135, WS_VISIBLE, FCF_TITLEBAR
    PRESPARAMS PP_FONTNAMESIZE, FontName
    PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        CTEXT "Set IP addresses for Ping", 1001,  0, 123, 140, 10, DT_VCENTER
        CTEXT "From",                      1002,  0, 115,  70, 10, DT_VCENTER
        CTEXT "To",                        1003, 70, 115,  70, 10, DT_VCENTER
        ENTRYFIELD   "", EFS_1,  5, 105, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_1, 75, 105, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_2,  5,  95, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_2, 75,  95, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_3,  5,  85, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_3, 75,  85, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_4,  5,  75, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_4, 75,  75, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_5,  5,  65, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_5, 75,  65, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_6,  5,  55, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_6, 75,  55, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_7,  5,  45, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_7, 75,  45, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFS_8,  5,  35, 60, 6, ES_MARGIN
        ENTRYFIELD   "", EFP_8, 75,  35, 60, 6, ES_MARGIN
        AUTOCHECKBOX "Search SMB names", NETB_P, 5, 20, 100, 10
        PUSHBUTTON   "~Ok",     DID_OK,     25, 3, 30, 13, BS_DEFAULT
        PUSHBUTTON   "~Cancel", DID_CANCEL, 85, 3, 30, 13
    END
END

DLGTEMPLATE OPTIONS_ID
BEGIN
    DIALOG  "Configuration", OPTIONS_ID, 5, 5, 205, 145, WS_VISIBLE, FCF_TITLEBAR
    PRESPARAMS PP_FONTNAMESIZE, FontName
    PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        AUTOCHECKBOX "Discover hostnames", DNS, 5, 130, 70, 10, DT_VCENTER
        AUTOCHECKBOX "Search SMB names in other domains", OTHD, 5, 115, 115, 10, DT_VCENTER
        AUTOCHECKBOX "Logging to", USE_LOG,  5, 100, 40, 10, DT_VCENTER
        COMBOBOX     "", COMBO_ID05,        50,  80, 50, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        LTEXT        "file(s)", 2004,      105, 100, 20, 10, DT_VCENTER
        LTEXT    "Timeout for ARP", 2001,  5, 85, 50, 10, DT_VCENTER
        COMBOBOX "", COMBO_ID04,          75, 60, 25, 35, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        LTEXT    "msec", 2005,           105, 85, 20, 10, DT_VCENTER
        LTEXT    "Timeout for TCPBEUI", 2005,   5, 70, 60, 10, DT_VCENTER
        COMBOBOX "", COMBO_ID03,               75, 45, 25, 35, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        LTEXT    "msec", 2006,                105, 70, 20, 10, DT_VCENTER
        LTEXT    "Timeout for Ping", 2006,  5, 55, 50, 10, DT_VCENTER
        COMBOBOX "", COMBO_ID02,           75, 30, 25, 35, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        LTEXT    "sec", 2007,             105, 55, 15, 10, DT_VCENTER
        AUTOCHECKBOX "Use AutoRun every", ARUN,   5, 40, 70, 10, DT_VCENTER
        COMBOBOX     "", COMBO_ID01,             75, 15, 25, 35, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        LTEXT        "min", 2008,               105, 40, 15, 10, DT_VCENTER
        LTEXT "Determine network changing based on", 2006,  5, 25, 110, 10, DT_VCENTER
        COMBOBOX   "", COMBO_ID, 115, 0, 85, 35, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
        PUSHBUTTON "~Ok",     DID_OK,      50, 5, 30, 13, BS_DEFAULT
        PUSHBUTTON "~Cancel", DID_CANCEL, 125, 5, 30, 13
        PUSHBUTTON "~ARP",  PB_ARP,      170, 120, 30, 13
        PUSHBUTTON "~Ping", PB_PING,     170, 100, 30, 13
#ifndef CONFIG_LS
        PUSHBUTTON "~Font", PB_FONT,     170,  80, 30, 13
        PUSHBUTTON "~Save", PB_SAVE_OPT, 170,  50, 30, 13
#endif
    END
END

DLGTEMPLATE ARP_ID
BEGIN
    DIALOG  "ARP setting", ARP_ID, 5, 5, 405, 185, WS_VISIBLE, FCF_TITLEBAR
    PRESPARAMS PP_FONTNAMESIZE, FontName
    PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
    BEGIN
        CTEXT "Set home IP address",          3102,  5, 170,  60, 10, DT_VCENTER
        CTEXT "Set interval(s) for scanning", 3103, 70, 170, 125, 10, DT_VCENTER
        ENTRYFIELD "", IP_00,       5, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_00_01,  70, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_00_01, 135, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_00_02,  70, 150, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_00_02, 135, 150, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_00_03,  70, 140, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_00_03, 135, 140, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_01,       5, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_01_01,  70, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_01_01, 135, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_01_02,  70, 115, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_01_02, 135, 115, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_01_03,  70, 105, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_01_03, 135, 105, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_02,       5,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_02_01,  70,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_02_01, 135,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_02_02,  70,  80, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_02_02, 135,  80, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_02_03,  70,  70, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_02_03, 135,  70, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_03,       5,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_03_01,  70,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_03_01, 135,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_03_02,  70,  45, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_03_02, 135,  45, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_03_03,  70,  35, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_03_03, 135,  35, 60, 6, ES_MARGIN
        CTEXT "Set home IP address",          3104, 210, 170,  60, 10, DT_VCENTER
        CTEXT "Set interval(s) for scanning", 3105, 275, 170, 125, 10, DT_VCENTER
        ENTRYFIELD "", IP_04,     210, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_04_01, 275, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_04_01, 340, 160, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_04_02, 275, 150, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_04_02, 340, 150, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_04_03, 275, 140, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_04_03, 340, 140, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_05,     210, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_05_01, 275, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_05_01, 340, 125, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_05_02, 275, 115, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_05_02, 340, 115, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_05_03, 275, 105, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_05_03, 340, 105, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_06,     210,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_06_01, 275,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_06_01, 340,  90, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_06_02, 275,  80, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_06_02, 340,  80, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_06_03, 275,  70, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_06_03, 340,  70, 60, 6, ES_MARGIN
        ENTRYFIELD "", IP_07,     210,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_07_01, 275,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_07_01, 340,  55, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_07_02, 275,  45, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_07_02, 340,  45, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPS_07_03, 275,  35, 60, 6, ES_MARGIN
        ENTRYFIELD "", IPP_07_03, 340,  35, 60, 6, ES_MARGIN
        LTEXT        "Select interface:", 3106, 5, 20, 45, 10, DT_VCENTER
        AUTOCHECKBOX "0", INT_0,  55, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "1", INT_1,  75, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "2", INT_2,  95, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "3", INT_3, 115, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "4", INT_4, 135, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "5", INT_5, 155, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "6", INT_6, 175, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "7", INT_7, 195, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "Search SMB names on interfaces:", NETB_N, 220, 20, 105, 10
        AUTOCHECKBOX "0", NETB_0, 330, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "1", NETB_1, 350, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "2", NETB_2, 370, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "3", NETB_3, 390, 20, 15, 10, DT_VCENTER
        AUTOCHECKBOX "4", NETB_4, 330, 10, 15, 10, DT_VCENTER
        AUTOCHECKBOX "5", NETB_5, 350, 10, 15, 10, DT_VCENTER
        AUTOCHECKBOX "6", NETB_6, 370, 10, 15, 10, DT_VCENTER
        AUTOCHECKBOX "7", NETB_7, 390, 10, 15, 10, DT_VCENTER
        PUSHBUTTON "~Ok",     DID_OK,     120, 3, 30, 13, BS_DEFAULT
        PUSHBUTTON "~Cancel", DID_CANCEL, 260, 3, 30, 13
    END
END
#endif
